.footer{
    width: 100%;
    height: 500px;
 
    margin-top: 200px;
}
.footer__continer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 500px;
}
.footer__card{
    width: 200px;
    height: 200px;
    margin-top: 80px;
    padding-top: 10px;
    margin-left: 50px;
}
.footer__card p{
    font-size: 18px;
    padding-left: 20px;
}
.footer__card h3{
    padding-left: 30px;
}
.footer__card p:nth-child(2){
    color: #888;
    margin-top: 10px;
    font-size: 15px;
}
.footer__card p:nth-child(3){
    color: #888;
    margin-top: 10px;
    font-size: 15px;
}
.footer__card img{
    width: 200px;
}
.footer__img{
    height: 350px;
    width: 300px;
}
.footer__icon{
    width: 100%;
    height: 50px;
    margin-top: 30px;
}
.footer__icon svg{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
font-size: 15px;
margin-top: 10px;
}
.footer__bottom p:nth-child(2){
    font-size: 10px;
    color: #888;
    padding-right: 20px;
}
.footer__bottom p:first-child{
    padding-left: 2%;
    font-size: 13;
}
 
@media screen and (max-width: 1200px){
    .footer{
        height: 650px;

    }
    .footer__continer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__card{
        height: 150px;
        white-space: nowrap;
padding-right: 90px;
    }
    .footer__img{
        display: flex;
    }
    .footer__img h3{
        margin-top: 50px;
    }
    .footer__img img{
        height: 90px;
        padding-left: 30px;

    }
    .footer__icon{
        display: flex;
        margin-right: 30px;
    }
}
@media screen and (max-width: 700px){
    .footer{
        height: 100%;
    }
.footer__continer{
    display: grid;
grid-template-columns: repeat(1, 1fr);
height: 100%;
justify-content: center;

}
.footer__card{
    margin-top: 1px;
    height: 100px;
}
.footer__img{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 60%;
    width: 220px;
    justify-content: center;
}
.footer__img img{
    width: 200px;
    height: 100px;
    

}
.footer__img h3{
    padding-left: 10px;
}
.footer__icon svg{
margin-left: 10px;
margin-top: 1px;
}
}
